<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResLab_V1_Heavy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResLab_V1_Heavy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true">
            <add name="DomainServiceModule" preCondition="managedHandler"
                type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </modules>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <connectionStrings />
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.web>
        <httpModules>
            <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </httpModules>
    </system.web>
    <userSettings>
        <ResLab_V1_Heavy.My.MySettings>
            <setting name="Password_userset" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString_SQLServer_Austin" serializeAs="String">
                <value>Server=localhost\SQLExpress;Trusted_connection=Yes;Database=ResLabDB_heavy;</value>
            </setting>
        </ResLab_V1_Heavy.My.MySettings>
    </userSettings>
    <applicationSettings>
        <ResLab_V1_Heavy.My.MySettings>
            <setting name="Selected_DB_type" serializeAs="String">
                <value>DB_type_SQLServer</value>
            </setting>
            <setting name="ConnectionString_SQLServer_MonashMC" serializeAs="String">
                <value>Server=respdbtest;Database=RespDB;User Id=RespDB;Password=l!$ug50NbjtE;</value>
            </setting>
            <setting name="ConnectionString_Access" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\peter\Me\VB.NET applications\ResLab.Net\RespDB.accdb; User Id=admin; Password=;</value>
            </setting>
            <setting name="DB_type_Access" serializeAs="String">
                <value>MicrosoftAccess</value>
            </setting>
            <setting name="DB_type_SQLServer" serializeAs="String">
                <value>SQLServer</value>
            </setting>
            <setting name="DB_type_MySQL" serializeAs="String">
                <value>MySQL</value>
            </setting>
            <setting name="DefaultFolder_SavePDF" serializeAs="String">
                <value>C:\temp\</value>
            </setting>
            <setting name="ConnectionString_SQLServer_MyLaptop" serializeAs="String">
                <value>Server=PETE\SQLExpress;Trusted_connection=Yes;Database=ResLabDB_heavy;</value>
            </setting>
            <setting name="Selected_ConnectionString" serializeAs="String">
                <value>ConnectionString_SQLServer_Austin</value>
            </setting>
            <setting name="BuildDate" serializeAs="String">
                <value>04/11/2016</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0 Heavy</value>
            </setting>
            <setting name="ConnectionString_SQLServer_JohnHunter" serializeAs="String">
                <value>Server=HNESQLDEV01;Database=ResLabDB_SQL;User Id=RespLab_User;Password=resplab$user;</value>
            </setting>
            <setting name="ConnectionString_SQLServer_BoxHillHospital" serializeAs="String">
                <value>Server=EHTESTSQL12_API;Database=RespDB_SQL_Test;User Id=respdb_sqluser;Password=ehrespdbuser;</value>
            </setting>
            <setting name="ConnectionString_SQLServer_Alfred" serializeAs="String">
                <value>Server=ahacsql01;Database=RespDB;User Id=respdb;Password=RespAdmin2015;</value>
            </setting>
            <setting name="Password_hidden" serializeAs="String">
                <value>donotenter</value>
            </setting>
        </ResLab_V1_Heavy.My.MySettings>
    </applicationSettings>
</configuration>
